@page "/"

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        اعمال الرسل
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        @for (int i = 0; i < 28; i++)
                        {
                            var number = i + 1;
                            <NavLink class="dropdown-item text-center w-25" href=@($"BibleChapter/Acts/{number}")>
                                @number
                            </NavLink>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        افسس
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        @for (int i = 0; i < 6; i++)
                        {
                            var number = i + 1;
                            <NavLink class="dropdown-item text-center w-25" href=@($"BibleChapter/Ephesians/{number}")>
                                @number
                            </NavLink>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>